:root {
  /* --bg-main: #070937;
  --font-main: #f2c4b8; */
  /* --bg-main: #181f2a;
  --font-main:#df888f; */
  --bg-main: #4832d5;

  /* --bg-main: #3f109d; */
  --font-main: #ccf281 ;

  /* --bg-main: #7e46e8 ; */

  /* --bg-main: #7e46e8  ;
  --font-main: #e8fb64; */
  --secondary: #f82cda;

}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-main);
  color: var(--font-main);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.nav-skills-container {
  display: flex;
}









@keyframes scrolling {
  0% {
      top: 70%;
      opacity: 0;
      /* transform: translate(-30%, -50); */
  }
  50% {
      opacity: 0;
 
      /* transform: translate(-50%, -50%); */
  }

  100% {
      opacity: 1;
      top: 0;
      /* transform: translate(-50%, -50%); */
  }
}





@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}