:root {
  --bg-main: #1F1F1F;
  --font-main: #FE93AD;
  --secondary: #FDFEFB

}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-main);
  color: var(--font-main);
  font-family: 'Antonio', sans-serif;
  font-weight: 300;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.nav-skills-container {
  display: flex;
}

  /* ANIMATIONS */

@keyframes scrolling {
  0% {
      top: 70%;
      opacity: 0;
  }
  50% {
      opacity: 0;
  }

  100% {
      opacity: 1;
      top: 0;
  }
}



@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  /* MEDIA QUERIES */

@media screen and (max-width: 480px) {
  .App {
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-x: hidden;
  }
}