@import url("App.css");

.contact {
    padding: 4rem;
    background-color: var(--font-main);
    color: var(--bg-main);
    height: 100vh;
    position: relative;
    width: 100vw;
}

.contact-title {  
    font-size: 20rem;
    font-weight: 600;
    width: 60vw;
    letter-spacing: -0.5rem;
    line-height: 1;
    text-align: end;
    position: absolute;
    bottom: 6vh;
    right: -100%;
}

.contact-links {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 6rem;
    align-items: flex-end;
    position: absolute;
    right: 4%;
    opacity: 0;
}

.contact-link-wrap {
    color: var(--bg-main);
    border: 1px solid var(--bg-main);
    border-radius: 50px;
    text-align: center;
    padding: 0 3rem;
    overflow-y: hidden;
    scrollbar-width: none; 
    width: min-content;
    white-space: nowrap
}

.contact-link {
    color: var(--bg-main);
    font-size: 6rem;
    text-decoration: none;
    font-weight: 400;
    display: block;
    width: 100%;
    transform: translateX(0%);   
}

.contact-link::after {
    position: absolute;
    top: 0;
    left: 125%;
}

#email::after {
    content: 'email';
}

#linkedin::after {
    content: 'linkedin';
}

#github::after {
    content: 'github';
}

.contact-link:hover {
    animation: move 3s linear infinite;
    /* -moz-animation-name: move; 
    -moz-animation-duration: 3s; 
    -moz-animation-iteration-count: infinite; 

    -webkit-animation-name: move; 
    -webkit-animation-duration: 3s; 
    -webkit-animation-iteration-count: infinite;  */
}
  
.visible-title {
    animation: animate-bottom-text 1s linear;
    animation-fill-mode: forwards;   
}

.visible-contact {
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 1s;
}

  @keyframes animate-bottom-text {
    0% {
       right: -100%;
    }

    100% {
        right: 4%;
    }
}


@keyframes move {
    0% { transform: translateX(0); }
    50% { transform: translateX(-135%); }
    100% { transform: translateX(0); }
  }

  @media screen and (max-width: 1400px) {
    .contact-title {  
        font-size: 16rem;

        width: 80vw;
    }
    .contact-link {
        font-size: 4rem;
    }

  }

  @media screen and (max-width: 480px) {
    .contact-title {  
        font-size: 10rem;
        font-weight: 600;
        width: 80vw;
    }

    .contact-links {
        gap: 2rem;
        padding-top: 10rem;
        align-items: flex-end;
        position: absolute;
        right: 4%;
        opacity: 0;
       
    }
    
   

 
  }

