@import url("App.css");

.footer {
    background-color: var(--font-main);
    color: var(--bg-main);
    margin-top: auto;
    height: 8vh;
}


.line-footer::before { 
    top: 0;
    left: 0;
    position: absolute;
    background: var(--font-main);
}


.line-footer {
    width: 85vw;
    height: 1px;
    position: absolute;
    left: 0;
    background: var(--bg-main);
  }
  
  .is-visible {
    animation: animate-bottom-f 1s linear;
    animation-fill-mode: forwards;   
  }

    /* ANIMATIONS */

  @keyframes animate-bottom-f {
    0% {
       left: -100%;
    }

    100% {
        left: 0;
    }
}