@import url("App.css");

.home {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container {
    height: 80vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    /* font-size: 14vw;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.5rem; */

    font-size: 28rem;
    font-weight: 700;
    /* line-height: 1.2; */
    letter-spacing: -1.3rem;
    position: relative;
    display: flex;
    /* overflow: visible;
    padding-right: 2rem;
    padding-bottom: 10rem; */
}

.home-links {
  align-self: flex-end;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
}

.home-links a {
  color: var(--secondary);
  font-family: 'Poppins', sans-serif;
  margin-bottom: -0.5rem;
}

.f-name h1 {
  display: flex!important;
}

#cap-letter {
  position: relative;
  /* height: 32rem;
  line-height: 0.8; */
}

#cap-letter::after {
  content: 'W';
  position:absolute;
  left:1rem;
  z-index: -1;
  color: var(--secondary);
  transition: all 0.1s ease-in-out;
}

#cap-letter:hover::after {
  transform: scale(1.05) rotate(3deg);
  left:1.4vw;
}

#title-lower {

}

h1 span {
  height: 32rem;
  line-height: 0.8;
}

/* .low-letter {

} */

.low-letter:hover {
  transform: rotate(5deg) scale(1.1);
  text-shadow: 6px 6px 15px var(--secondary);
  
}

h2 {
    text-align: right;
    font-size: 4rem;
    font-weight: 600;
    align-self: end;
    /* letter-spacing: 0rem; */
    line-height: 1;
}

.line {
    width: 85vw;
    height: 1px;
    background: var(--font-main);
    position: absolute;
}

.line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-main);
}

#line-top {
    top: 7vh;
   right: 0;
}

#line-top::before { 
    top: 0;
    right: 0;
    animation: animate-top 1s linear;
    animation-fill-mode: forwards;     
}

#line-bottom {
    bottom: 7vh;
    left: 0;
}

#line-bottom::before { 
    top: 0;
    left: 0;
    animation: animate-bottom 1s linear;
    animation-fill-mode: forwards;     
}

@keyframes animate-top {
    0% {
        right: 0;
    }

    100% {
        right: 100%;
    }
}

@keyframes animate-bottom {
    0% {
       left: 0;
    }

    100% {
        left: 100%;
    }
}



.f-name,
.l-name {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.home-container {
    animation: outer-left 1s 1s ease both;
  }

#home-container-inner{
    display: flex;
    flex-direction: column;
    animation: inner-left-50 1s 1s ease both;
    margin-top: -12rem;
  }
  
  .f-name {
    display: inline-block;
    animation: inner-left-20 1s 1s ease both,
      text-clip 1s 0s cubic-bezier(0.5, 0, 0.5, 4) both;
  }
  
  .l-name {
    animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  

  .f-name {
      display: inline-block;
  }

  .f-name h1 {
    display: inline-block;
  }
  
  .l-name {
    display: inline-block;
  }


  .nav-link-home  {
    width: max-content;
    color: var(--font-main);
    text-decoration: none;
    font-size: 2rem;
    position: relative;
    background: transparent;
    transition: 0.3s;
    padding: 4px 0; 
   
    
}
   
.nav-link-home::before {
        content: '';
        border-bottom: 1px solid var(--font-main);
        padding: 0 5px;
        position: absolute;
        bottom: 0;
        /* left: 0; */
        right: 0;
        width: 0;
        transition: 0.3s;
}
        
.nav-link-home:hover::before {
        width: 100%;
        padding: 0;
        cursor: pointer;
}

.nav-link-home:active {
    background: var(--font-main);
    color: var(--bg-main);
    transition: 0.1s;
    /* padding: 0 5px; */
}



@keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
  @keyframes outer-left {
    from {
      transform: translateX(85%);
    }
    to {
      transform: none;
    }
  }
  
  @keyframes inner-left-50 {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: none;
    }
  }

  @keyframes inner-left-20 {
    from {
      transform: translateX(35%);
    }
    to {
      transform: none;
    }
  }



  /* MEDIA QUERIES */

  @media screen and (max-width: 480px) {
    .home {
      width: 100svw;
      height: 108svh;
    }

    h1 {
        font-size: 9rem;
        font-weight: 600;
        letter-spacing: -0.3rem;
    }

    h1 span {
        height: 10rem;
        line-height: 0.8;
    }

    #cap-letter::after { 
      left:0.5rem;
    }
  
    h2 {
      /* padding-top: 2rem; */
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.1;
  }

    .home-links {
      margin-top: -38rem;

  
    }
  
  }