@import url("App.css");

.navbar {
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top:2rem;
    z-index:100;
    height: 28vh;
    width: 20vw;
    margin-left: 4rem;
    margin-top: -2rem;
    padding-bottom: 2rem;
    background-color: transparent;
    color: var(--font-main);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    mix-blend-mode: difference;
    animation: rotate 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.navbar::after {
    mix-blend-mode: difference;
}

h4 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
}

.nav-link  {
    width: max-content;
    color: var(--font-main);
    text-decoration: none;
    font-size: 2rem;
    position: relative;
    background: transparent;
    transition: 0.3s;
    padding: 4px 0; 
   
    
}
   
.nav-link::before {
        content: '';
        border-bottom: 1px solid var(--font-main);
        padding: 0 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        transition: 0.3s;
}
        
.nav-link:hover::before {
        width: 100%;
        padding: 0;
        cursor: pointer;
}

.nav-link:active {
    background: var(--font-main);
    color: var(--bg-main);
    transition: 0.1s;
    /* padding: 0 5px; */
}

@keyframes rotate {
    0% {
        transform: translateX(100vw);
      }
    15% {
        transform: none;
  }
}



@media screen and (max-width: 480px) {
    .navbar {
        position: sticky;
        top:3rem;
        z-index:100;
        /* height: 28vh; */
        width: 90vw;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        animation:none;
    }
}