@import url("App.css");

.project-card {
    position: relative;
    /* height: 80vh; */
 
}

.project-card-img {
    width: 60rem;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

}

.project-card-title {
    font-weight: 600;
    font-size: 8rem;
    letter-spacing: -0.1rem;
}


.project-link {
    color: var(--font-main);
    text-decoration: none;
    font-size: 2.4rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);


    background: transparent;
    border: none;
    margin: 30px auto 0;
    display: block;
    outline: none;

    transition: 0.3s;
    padding: 10px; 

    
}


.project-link::before {
        content: '';
        border-bottom: 1px solid var(--font-main);
        padding: 0 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        transition: 0.3s;
}
        
.project-link:hover::before {
        width: 100%;
        padding: 0;
}

.project-link:active {
    background: var(--font-main);
    color: var(--bg-main);
    transition: 0.1s;
}
        

.image {
    width: 50vw;
    height: auto;
    opacity: 0;
  }
  
  .animate {
    animation: fade-in 1s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }