@import url("App.css");

.project-card {

}

.project-card-img {
    width: 60rem;
    opacity: 0.6;

}

.project-card-title {
    font-weight: 600;
    font-size: 8rem;
    letter-spacing: -0.1rem;
    /* padding-top: 4rem;
    padding-bottom: 2rem; */
    position: absolute;
    top:30%;
    z-index: 900;
}


.project-link {
    color: var(--font-main);
    text-decoration: none;
    font-size: 2.4rem;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    background: transparent;
    border: none;
    margin: 30px auto 0;
    display: none;
    outline: none;
    transition: 0.3s;
    padding: 10px; 
}


.project-link::before {
        content: '';
        border-bottom: 1px solid var(--font-main);
        padding: 0 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        transition: all 0.3s ease-in-out;
}

.project-link:hover {
    color: var( --secondary);
}
        
.project-link:hover::before {
        width: 100%;
        padding: 0;
        
}

.project-link:active {
    background: var(--font-main);
    color: var(--bg-main);
    transition: 0.1s;
}
        

.image {
    width: 60rem;
    height: auto;
    opacity: 0;
    /* margin-top: -14rem; */
    margin-bottom: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image:first-of-type {
    margin-top: -26rem;
  }

 

  /* .image img:last-child {
    margin-bottom: -20rem;
  } */

  /* .project-card-img:last-child {
    margin-bottom: -20rem;
  } */

  /* .project-card-img:last-of-type {
    margin-bottom: -20rem;
  } */
  
  .animate {
    animation: fade-in 1s ease-in-out forwards;
  }
  


  @media screen and (max-width: 480px) {
    .image {
      width: 90vw;
      height: auto;
      opacity: 0;
      /* margin-top: -14rem; */
      margin-bottom: 10rem;
    }
  
    .project-card-img {
      width: 90svw;
      opacity: 0.6;
  
  }
  
  .project-card-title {
      font-weight: 600;
      font-size: 6rem;
      letter-spacing: -0.1rem;
      /* padding-top: 4rem;
      padding-bottom: 2rem; */
      position: absolute;
      top:30%;
      z-index: 900;
  }
  
    
  }