/* @import url("App.css");

.project-card {
    position: relative;
    height: 80vh;
 
}

.project-card-img {
    width: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.project-card-title {
    font-weight: 600;
    font-size: 8rem;
    letter-spacing: -0.1rem;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -120%);
    z-index: 100;

    animation: title-scroll 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}


.project-card a {
    color: var(--font-main);
    text-decoration: none;
    font-size: 2.4rem;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    background: transparent;
    border: none;
    margin: 30px auto 0;
    display: block;
    outline: none;

    transition: 0.3s;
    padding: 10px; 

    animation: fadeIn 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    
}


.project-card a::before {
        content: '';
        border-bottom: 1px solid var(--font-main);
        padding: 0 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        transition: 0.3s;
}
        
.project-card a:hover::before {
        width: 100%;
        padding: 0;
}

.project-card a:active {
    background: var(--font-main);
    color: var(--bg-main);
    transition: 0.1s;
}
        

@keyframes title-scroll {
    0% {
        top: 70%;
        opacity:0;
    }
    10% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        top: 0;
      
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
} */


.image {
    width: 50vw;
    height: auto;
    opacity: 0;
  }
  
  .animate {
    animation: fade-in 1s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }